
.App-logo {
  animation: App-logo-levitate infinite 10s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes App-logo-levitate {
  0% {
    transform: translateY(0px);
  }
  
  50%{
    transform: translateY(10px);
  }
  
  100% {
    transform: translateY(0px);
  }
}

.label {
  color: white;
}
