$K_WIDTH: 40;
$K_HEIGHT: 40;

.App-logo {
  animation: App-logo-levitate infinite 10s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes App-logo-levitate {
  0% {
    transform: translateY(0px);
  }
  
  50%{
    transform: translateY(10px);
  }
  
  100% {
    transform: translateY(0px);
  }
}

.label {
  color: white;
}

.button {
  margin: 0rem 1rem 0rem 0rem;
}
